*{
    padding: 0;
    margin: 0;
    color: var(--text-color);
    background-color: var(--primary-color);
    font-size: 10px;
}
:root{
    --primary-color: #55E3EB;
    --blabla2: #00ABB3;
    --blabla3: #BEFCFF;
    --blabla4: #003E48;
    --text-color: #051F23;
    --hoverkover: #005D66;
}
h1,h2{
    display: flex;
    justify-content: center;
}
/*  Nav  */
nav ul  {
    display: flex; 
    flex-direction: end;
    padding: 10px;

}
nav ul li {
    list-style: none;
    padding: 10px;
   
}
nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 500;
}
nav ul li a:hover{
    color: var(--blabla3);
}
/*  Header  */
.profil{
    display: flex;
}
.profil div{
    /* background-color: black; */
}
.profil-li{
    display: flex;
    list-style: none;

}


/*main*/
main{
    /* max-width: 940px; */
    margin-left: auto;
    margin-right: auto;
    
}


/* img{
    width: 100%;
} */

.portfolio{

}
.logo{
    width: 150px;
}
.icon{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}
.portfolio div{
    display: grid;
    grid-template-columns: auto auto auto;
}






/* @media screen and (max-width:  576px) {
    main{
        display: grid;
        grid-template-columns: auto;
    }
} */