*{
    padding: 5px;
}
body{
    background: #EDEDED;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    
}
h1,h2{
    display: flex;
    justify-content: center;
}
main{
    display: grid;
    grid-template-columns: 35% 65%
}
img{
    width: 100%;
}
.profil{
    color: #eee;
    height: auto;
}
.profil div{
    background-color: black;
}
.content{
    background-color: white;
}
.logo{
    width: 150px;
}
.icon{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}
.portfolio div{
    display: grid;
    grid-template-columns: auto auto auto;
}






@media screen and (max-width:  576px) {
    main{
        display: grid;
        grid-template-columns: auto;
    }
}