 *{
    padding: 0;
    margin: 0;
    color: var(--text-color);
    /* background-color: var(--primary-color); */
    font-size: 20px;
}
:root{
    --primary-color: #55E3EB;
    --blabla2: #00ABB3;
    --blabla3: #BEFCFF;
    --blabla4: #003E48;
    --text-color: #051F23;
    --hoverkover: #005D66;
}
button{
    background-color: rgba(0, 0, 0, 0); /* Green */
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
h1{
    font-size: 5.4rem;
} 
h2{
    font-size: 4.3rem;
}

/*  Nav  */
/* https://www.youtube.com/watch?v=6HFpw5fcaD8 */
nav{
    /* background-color: var(--primary-color); */
    position: fixed;
    width: 100%;
}

 nav ul  {
    display: flex; 
    flex-direction: end;
    padding: 10px;


}
nav ul li {
    list-style: none;
    padding: 10px;
   
}
nav ul li a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
}
nav ul li a:hover{
    color: var(--blabla3);
} 
/*  Header  */

.profil{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 100px 0 30px; */
    background-color: #005D66;
    min-height: 100vh;
}
.profil div button a{
    margin: 10px;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

.profil-li{
    display: flex;
    list-style: none;

}


/*main*/


 main{
    margin-left: auto;
    margin-right: auto;
    
} 
/*rolam*/
#rolam{
    display: flex;
    justify-content: space-around;
    background-color: #00ABB3;   
}
#rolam p{
    font-size: 1.5rem;
    /* width: 900px; */
    margin-left: auto;
    margin-right: auto;
}
#rolam section{
    width: 50%;
}
/*Portfolio*/
#portfolio{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #005D66;
}
 .portfolio-card{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    border: 2px solid black;
    padding: 0 0 20px 0;
    margin: 25px ;
}
.portfolio-card h3{
    font-size: 1.5rem;
    margin: 10px;
}
.portfolio-card p{
    margin: 0 10px 25px;
}
.portfolio-card a{
    border: 1px solid;
    padding: 5px 20px;
    margin: 10px;
    background-color: yellowgreen;
}

.cards-img{
    width: 500px;
}

/* kapcsolat*/

#contact {
    background-color: #00ABB3;
    color: white;
    display: flex;
    border: 1px solid black;
    /* background-color: #003E48; */
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#contact form{
    display: flex;
    flex-direction: column;

}
#contact label{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    width: 500px;

}
textarea{
    width: 500px;
    height: 200px;
    padding: 10px;
    margin: 20px;
}
#contact input[type="button"]{
    width: auto;
    margin: 20px;
    padding: 10px 100px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    text-align: center;
}

/*footer*/
footer{
    background-color: var(--primary-color);

}
footer ul{
    display: flex;
    padding: 10px;
}
footer ul li{
    list-style: none;
    padding: 10px;
}
footer ul li a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
}
